version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=iwonder
    ports:
      - "5432:5432"

  back:
    build: ./back
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    environment:
      - SQLALCHEMY_DATABASE_URL=postgresql://postgres:postgres@db:5432/iwonder
      - SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
    depends_on:
      - db

  front:
    build:
      context: ./front
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8000
    ports:
      - "3000:3000"
    depends_on:
      - back

volumes:
  postgres_data: